<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts School</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
  <div class="menu">
    <nav>
      <div id="heading">
        <ul>
          <img src="/logo.png" alt="Logo" id="menu-image">
          <li><a href="/students">Home</a></li>
          <li><a href="/students/about">About</a></li>
          <li><a href="/students/new">Add new student</a></li>
          <div class="dropdown">
          <li><a href="#" class="dropbtn">Students by House</a>
                <div class="dropdown-content">
                  <a href="/students/gryffindor">Gryffindor</a>
                  <a href="/students/house">Slytherin</a>
                  <a href="/students/house">Ravenclaw</a>
                  <a href="/students/house">Hufflepuff</a>
                </div>
              </div>
              <li><a href="#">Contact us</a></li>
          </li>
        </div>
      </ul>
    </nav>
</div>
<%= yield %>
</body>
</html>
